html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
 }
 
 body {
  font-family: sans-serif;
 }
 
 li {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }
 
 * {
  box-sizing: border-box;
 }
 
 .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 }
 
 .header-menu {
  display: flex;
 }
 
 .header-menu a {
  display: block;
  border-radius: 4px;
  padding: 12px 24px;
  color: black;
 }
 
 .header-menu a:hover {
  background-color: #fac719;
  border-bottom: 2px dashed rgb(192 94 229);
  color: white
 }
 
 .top-message h2 {
  font-size: 50px;
  text-align: center;
  margin: 90px;
 }
 
 .top-image {
  background-image: url(../img/top-image.jpg);
  margin-top: 10px;
  height: 25rem;
  background-size: cover;
 }
 
 .aboutme {
  background-color: rgb(214, 214, 211);
  padding: 90px 0;
 }
 
 .subtitle {
  display: inline-block;
  font-size: 30px;
  border-bottom: 2px dashed rgba(184, 48, 235, 0.73);
 }
 
 .work {
  text-align: center;
 }

 .work ul li {
   width: 400px;
   font-size: 12px;
 }
 
 .aboutme img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 50px auto;
  display: block;
  text-align: center;
 }
 
 .aboutme p {
  font-size: 12px;
 }
.work {
  padding: 90px 0;

}
 .work img:hover {
  opacity: 0.5;
 }
 
 footer {
  border-top: 1px dashed rgba(181, 180, 178, 0.9)
 }
 
 footer p {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
} 
 @media (min-width:769px) {
  .header-menu {
    position: fixed;
    top: 0;
  }
  .container {
   width: 1000px;
   margin: 0 auto;
   text-align: center;
  }
  .aboutme p {
    width: 350px;
    margin: 0 auto;
  }
  .work .container {
    margin: 80px auto 0;
  }
  .work img {
    width: 400px;
    margin: 0 auto 22px;
}
 }
 
 @media (max-width:768px) {
  html {font-size: 13.3333vw;}
  body { font-size: .3rem;}
  .container {
   text-align: center;
   width: 100%;
   padding: 0 .3rem;
  }
  .header-menu {
   font-size: 0.9rem;
  }
  .header-menu a {
    padding: 0.3rem 0.2rem;
    font-size: .15rem;
  }
  .top-message h2 {
   font-size: .6rem;
   margin: 0.2rem 0.3rem 0.5rem;
  }
  .top-image {
   height: 3.5rem;
  }
  h2 {
   font-size: .4rem;
  }
  .aboutme {
    padding: .6rem 0;
  }
  .subtitle {
    margin: 0 0 0.5rem;
  }
  .aboutme P {
   width: 59%;
   margin: 0 auto;
   padding: 0.5rem 0 0;
  }
  .aboutme img {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 auto;
  }
  .work {
    padding: .6rem 0;
  }
  .work ul li {
    width: 4rem;
    font-size: .15rem;
  }
  .work ul li + li {
    margin: .5rem 0 0;
  }
  .work img {
   width: 4rem;
   padding: 0;
   margin: 0 auto 0.1rem;
   padding-bottom: 0;
  }
  .pcbr {
   display: none;
  }
  footer p {
   font-size: .13rem;
  }
 }
